.hidden {
  display: none;
}

.paper-form {
  width: 100%;
  max-width: 400px;
  margin: 80px auto 0;
  padding: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paper-form > :not(:last-child) {
  margin-bottom: 16px;
}

input[type="text"], input[type="password"], select {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #e0e0e0;
}

input:focus {
  outline: none;
  border: 3px solid #757575;
}

button {
  border-radius: 4px;
  background-color: #4caf50;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 16px 24px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: 0;
}
